{% extends '::base.html.twig' %}
{% block body %}
    <h3>Bonjour Bienvenue sur vorte carnet d'adresse</h3>.<br/>
    Pour se connecter merci de clicker sur ce lien <a href="{{ path('fos_user_security_login') }}">Se Connecter</a>
{% endblock %}